
@font-face {
    font-family: 'font-default';
    src: url('fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'font-default', 'sans-serif';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'font-default', 'sans-serif';
}
